<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ARC HospitalSales">

<listeners>
		<listener class-name="com.archs.utilities.Reporting" />
	</listeners>
	
	<test name="HospitalSales Test">
		<parameter name="browser" value="chrome" />
		<!-- <parameter name="browser" value="FF" /> -->
		
		<classes>
			<!-- <class name="com.archs.testCases.HospitalSalesCreateNewPatientServiceContractTest" /> -->
			<!-- <class name="com.archs.testCases.HospitalSalesPatientServiceContractExtendDateTest" /> -->
			<!-- <class name="com.archs.testCases.HospitalSalesPatientServiceStatusTest" /> -->
			<!-- <class name="com.archs.testCases.HospitalSalesPatientServiceTypeTest" /> -->
			<!-- <class name="com.archs.testCases.SingleHospitalSalesEndToEndTest" /> -->
			<!-- <class name="com.archs.testCases.SingleHospitalSalesCATPendingApprovalStatusTest" /> -->
			<!-- <class name="com.archs.testCases.HospitalSalesPatientServiceContracPriceListValidationTest" /> -->
			<!-- <class name="com.archs.testCases.SingleHSCATStatusOnlyDirectorApproval" /> -->
			<!-- <class name="com.archs.testCases.SingleHSCATStatusDirectorReject" /> -->
			<!-- <class name="com.archs.testCases.SingleHSCATStatusPricingDirectorReject" /> -->
			<!-- <class name="com.archs.testCases.SingleHospitalSalesCATColorValidatonTest" /> -->
			<!-- <class name="com.archs.testCases.SingleHospitalSalesCATPageValidationTest" /> -->
			<!-- <class name="com.archs.testCases.SingleHospitalSalesPriceListValidationTest" /> -->
			<!-- <class name="com.archs.testCases.SingleHospitalSalesPriceListApprovalValidationTest" /> -->
			<class name="com.archs.testCases.SingleHospitalSalesPriceListAndContractDetailsTabValidationTest" />
			<!-- <class name="com.archs.testCases.SingleHospitalSalesXMLAttachmentValidationTest" />	 -->		
			
			</classes>

	</test>

</suite>