<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ARC HospitalSales">

<listeners>
		<listener class-name="com.archs.utilities.Reporting" />
	</listeners>
	
	<test name="HospitalSales Test">
		<parameter name="browser" value="chrome" />
		<!-- <parameter name="browser" value="FF" /> -->
		
		<classes>
			<!-- <class name="com.archs.testCases.HospitalSalesLoginPageTest" /> -->
			<class name="com.archs.testCases.SingleHospitalSalesEndToEndTest" />
			</classes>

	</test>

</suite>